name: dependabot validate

on:
  workflow_call: {}

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      run: ${{ env.matched }}
    steps:
      - name: Set default value
        shell: bash
        run: echo "matched=false" >> $GITHUB_ENV

      - name: Check for file changes
        uses: CodeReaper/find-diff-action@51fd3d8750c7f727659ed8b0abee9f3671f47dfc # v3.0.0
        if: github.event_name == 'push'
        id: changes
        with:
          paths: .github/dependabot.yml

  validate:
    needs: setup
    if: ${{ needs.setup.outputs.run == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: pipx install check-jsonschema
        shell: bash
      - run: curl -o schema.json 'https://json.schemastore.org/dependabot-2.0.json'
        shell: bash
      - run: check-jsonschema --schemafile schema.json .github/dependabot.yml
        shell: bash
