name: Docker Image Builder

on:
  workflow_call:
    inputs:
      base-image-tag:
        description: "Tag for aspnet image"
        required: true
        type: string
      publish-version:
        description: "Publish tag version"
        required: true
        type: string
      publish-major-version:
          description: "Publish major tag version"
          required: true
          type: string
      dry-run:
        description: "An indication of whether to commit/publish results"
        required: true
        type: string
      is-dependabot:
        description: "An indication of a dependabot pull request"
        required: true
        type: string

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        lfs: 'true'

    - name: Set up QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push runtime-deps
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      id: build-and-push-runtime-deps
      with:
        context: .
        file: Dockerfile
        platforms: linux/amd64
        push: ${{ inputs.dry-run != 'true' }}
        pull: true
        provenance: mode=max
        sbom: true
        target: runtime-deps
        build-args: VERSION=${{ inputs.base-image-tag }}
        tags: |
          ghcr.io/${{ github.repository }}:runtime-deps-${{ inputs.publish-major-version }}
          ghcr.io/${{ github.repository }}:runtime-deps-${{ inputs.publish-version }}
          
    - name: Attest and sign runtime-deps image
      uses: ./.github/actions/attest-sign
      with:
        image_ref: ghcr.io/${{ github.repository }}:runtime-deps-${{ inputs.publish-version }}@${{ steps.build-and-push-runtime-deps.outputs.digest }}
        sbom: auto-generate-for-me-please.json

    - name: Build and push runtime-deps-globalization
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      id: build-and-push-runtime-deps-globalization
      with:
        context: .
        file: Dockerfile
        platforms: linux/amd64
        push: ${{ inputs.dry-run != 'true' }}
        pull: true
        provenance: mode=max
        sbom: true
        target: runtime-deps-globalization
        build-args: VERSION=${{ inputs.base-image-tag }}
        tags: |
          ghcr.io/${{ github.repository }}:runtime-deps-globalization-${{ inputs.publish-major-version }}
          ghcr.io/${{ github.repository }}:runtime-deps-globalization-${{ inputs.publish-version }}

    - name: Build and push aspnet
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      id: build-and-push-aspnet
      with:
        context: .
        file: Dockerfile
        platforms: linux/amd64
        push: ${{ inputs.dry-run != 'true' }}
        pull: true
        provenance: mode=max
        sbom: true
        target: aspnet
        build-args: VERSION=${{ inputs.base-image-tag }}
        tags: |
          ghcr.io/${{ github.repository }}:aspnet-${{ inputs.publish-major-version }}
          ghcr.io/${{ github.repository }}:aspnet-${{ inputs.publish-version }}

    - name: Build and push aspnet-globalization
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      id: build-and-push-aspnet-globalization
      with:
        context: .
        file: Dockerfile
        platforms: linux/amd64
        push: ${{ inputs.dry-run != 'true' }}
        pull: true
        provenance: mode=max
        sbom: true
        target: aspnet-globalization
        build-args: VERSION=${{ inputs.base-image-tag }}
        tags: |
          ghcr.io/${{ github.repository }}:aspnet-globalization-${{ inputs.publish-major-version }}
          ghcr.io/${{ github.repository }}:aspnet-globalization-${{ inputs.publish-version }}
